

<div>
    <h1>This is the html for Act Page</h1>
    <div>{{message}}</div>
    <div>
        <div class="responsive" rel>
            <a href="#/actPg/#" class="desktop active" title="Desktop"></a>
            <a href="#/actPg/#" class="tabletlandscape" title="Tablet landscape (1024x768)"></a>
            <a href="#/actPg/#" class="tabletportrait" title="Tablet portrait (768x1024)"></a>
            <a href="#/actPg/#" class="mobilelandscape" title="Mobile landscape (480x320)"></a>
            <a href="#/actPg/#" class="mobileportrait" title="Mobile portrait (320x480)"></a>
        </div>
    </div>
    <div class="col-md-12 column"><div>　</div>
        <iframe id="aiframe" src="/views/experience/actpage.html" frameborder="1" style="width: 140%"></iframe>
    </div>
</div>
<script src="../../scripts/controllers/activescreen.js"></script>