
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../styles/bootstrap-theme.css" rel="stylesheet">
    <link href="../styles/masion.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!--<script src="./js/respond.js"></script>-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<div class="col-xs-12">
    <div class="container">
        <img src="/images/port-title.png" style="margin-top:15px;">
        <ul class="list-unstyled myborder">
            <li>
            </li>
            <li class="my">
                <a href="1300-portfolio/050-1300-portfolio1.html" target="contentframe"><img src="/images/bullet_01.png" class="bullet">레　스　토　랑</a>
            </li>
            <li class="my">
                <a href="1300-portfolio/050-1300-portfolio1.html" target="contentframe"> <img src="/images/bullet_01.png" class="bullet">모 델 하 우 스</a>
            </li>
            <li class="my">
                <a href="1300-portfolio/050-1300-portfolio1.html" target="contentframe"><img src="/images/bullet_01.png" class="bullet">뷔　　　　　페</a>
            </li>
            <li class="my">
                <a href="#/portfolio4"> <img src="/images/bullet_01.png" class="bullet">스　　포　　츠</a>
            </li>
            <li class="my">
                <a href="#/portfolio5"> <img src="/images/bullet_01.png" class="bullet">신부대기.폐백실</a>
            </li>
            <li class="my">
                <a href="#/portfolio6"> <img src="/images/bullet_01.png" class="bullet">오　　피　　스</a>
            </li>
            <li class="my">
                <a href="#/portfolio7"> <img src="/images/bullet_01.png" class="bullet">웨　　딩　　홀</a>
            </li>
            <li class="my">
                <a href="#/portfolio8"> <img src="/images/bullet_01.png" class="bullet">의　　　　　료</a>
            </li>
            <li class="my">
                <a href="#/portfolio9"> <img src="/images/bullet_01.png" class="bullet">종　　　　　교</a>
            </li>
            <li class="my">
                <a href="#/portfolio10"> <img src="/images/bullet_01.png" class="bullet">주　　　　　택</a>
            </li>
            <li class="my">
                <a href="#/portfolio11"> <img src="/images/bullet_01.png" class="bullet">체　　인　　점</a>
            </li>
            <li style="padding-bottom: 15px; padding-left: 10px;">
                <a href="#/portfolio12"> <img src="/images/bullet_01.png" class="bullet">호　　　　　텔</a>
            </li>

        </ul>
    </div>
</div>
</nav>
<!-- Bootstrap core JavaScript
		================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement("style")
        msViewportStyle.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}"))
        document.getElementsByTagName("head")[0].appendChild(msViewportStyle)
    }
</script>
<!--</body>-->
<!--</html>-->

