

<div>
    <h1>This is the html for Map Page</h1>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="tabbable" id="tabs-745055">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="mapPg/#nvmap" data-toggle="tab">지도</a>
                        </li>
                        <li>
                            <a href="mapPg/#rdmap" data-toggle="tab" onclick="init()">로드맵</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="nvmap">
                            <iframe src="http://dna.daum.net/include/tools/routemap/map_view.php?width=800&height=480&latitude=37.48033868471712&longitude=126.88674783357148&contents=&zoom=4" width="800" height="515" scrolling="no" frameborder="0"></iframe>
                        </div>
                        <div class="tab-pane" id="rdmap">
                            <div id="roadview" style="width:800px;height:480px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    function init() {
        var p = new daum.maps.LatLng(37.480140, 126.886409);
        var rc = new daum.maps.RoadviewClient();
        var rv = new daum.maps.Roadview(document.getElementById("roadview"));

        rc.getNearestPanoId(p, 50, function (panoid) {
            rv.setPanoId(panoid);
            rv.setViewpoint({
                pan: 50,
                tilt: 0,
                zoom: 0
            });
        });
    }
</script>